
<h1>My books</h1>

{{ link_to("books/search", "Manage Books") }} || {{ link_to("books/new", "Add new Book") }}
<br>
{{ link_to("authors/search", "Manage Authors") }} || {{ link_to("authors/new", "Add author") }}
